.DS_Store

Scans/confuciusornis/*
Scans/fracture/*
Scans/*
# Output/*
con_filter3d_result/*
filter3d_result/*
src/main

src/test
src/main

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app